@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    /* --main-color: rgba(17, 24, 39, 1); */
    --main-color: #eeeeee;
    --main-color2: #007aff;
    --blue-500: rgba(59, 130, 246, 1);
    --green-500: rgba(16, 185, 129, 1);
    --font-1: 'Montserrat';
    --font-2: 'Kanit';
}
body{
    margin: 0;
    font-size: 16px;
    /* background-color: #009688; */
    background-color: var(--main-color);
    /* font-family: var(--font-2), sans-serif; */
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    max-width: 1000px;
    background-color: #ffffff;
    margin:150px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}
@keyframes fadeInRight{
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 0;
    }
}
.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}
.custom-box.hide{
    display: none;
}
.home-box h3{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 25px;
    font-family: 'Kanit', sans-serif;
}
.home-box h1{
    font-size: 28px;
}

.home-box p{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

.home-box p span{
    font-weight: 500;
}
.home-box .btn{
    margin-top: 20px;
}
.btn{
    padding: 15px 45px;
    background-color: var(--main-color2);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition:all 0.3s ease;
}
.btn:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
    width: 100%;
    float: left;
}
.quiz-box .question-number{
    font-size: 18px;
    color: #001e96;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;
}
.quiz-box .question-text{
    font-size: 22px;
    color: #000000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .question-text img{
    max-width: 100%;
    display: block;
}

.quiz-box .option-container .option{
    font-family: 'Kanit';
    background-color: #cccccc;
    padding:13px 15px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 250;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}
.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(5, 182, 135);
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 72, 40);
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
.quiz-box .option-container .option.wrong{
    color: #ffffff;
}
.quiz-box .option-container .option.correct{
    color: #ffffff;
}
.quiz-box .btn{
    margin: 15px 0;
}
.quiz-box .answers-indicator{
    border-top: 1px solid #cccccc;
}
.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}
.quiz-box .answers-indicator div.correct{
    background-color: rgb(0, 139, 245);
    background-image: url(../img/correct.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.quiz-box .answers-indicator div.wrong{
    background-color: rgb(0, 0, 0);
    background-image: url(../img/wrong.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}



.result-box{
    text-align: center;
}
.result-box.hide{
    display: none;
}
.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #2f057c;
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #01227c;
    width: 50%;
    text-align: left;
    font-size: 18px;
}
.result-box .btn{
    margin-right: 20px;
}

@media(max-width: 767px){
    .result-box .btn{
        margin-bottom: 15px;
    }
    body{
        padding: 15px;
    }
    .custom-box{
        margin: 100px auto;
    }
}
